@model List<ShopAround.Models.UiShopItem>

@helper ShopItemPreview(ShopAround.Models.UiShopItem item)
{
    <li>
        <div class="item-preview">
            <img class="shop-item-img" src="@Url.Action("ShowImage", "Home", new { id = item.Id })" />
        </div>
    </li>
}
<div id="main">
    <div class="sidepanel">
        <div class="container searchpanel">

        </div>
        <div class="container categories">
        </div>
    </div>
    <div class="content">
        <ul>
            @for (int index = 0; index < Math.Min(Model.Count(), 3); index++)
            {
                @ShopItemPreview(Model.ElementAt(index));
            }
            
        </ul>
    </div>
</div>




@*@item.Name &nbsp @item.Category.Name &nbsp @item.Price
    @Html.ActionLink("Details", "ShowItem", new { id = @item.Id })
    <span>&nbsp;</span>
    @if (Request.IsAuthenticated)
    {
        if (HttpContext.Current.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "EditShopItem", new { id = @item.Id })
            <span>&nbsp;</span>
            @Html.ActionLink("Delete", "DeleteShopItem", new { id = @item.Id })
        }
    }
    @using (Html.BeginForm("AddItemToCart", "Cart", new { id = item.Id }, FormMethod.Post))
    {
        <input type="submit" value="Add to cart" />
    }*@